@charset "utf-8";
@import "bootstrap-4.0.0-alpha.3/scss/bootstrap";
@import "variables";

#about, #contact {
  display: flex;
  flex-wrap: wrap;
}

#contact {
  max-width: 30rem;
  align-content: flex-start;
  margin-bottom: 2rem;
}

#img-container {
  // background: url(/images/mugshot.jpg) no-repeat;
  width: 178px;
  height: 178px;
  margin-bottom: 1rem;
}

#contact-details {
  margin-left: 0;

  p {
    margin-bottom: .3rem;
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
  #about {
    flex-wrap: nowrap;
  }

  #contact-details {
    margin-left: 1rem;
  }

  #contact {
    order: 2;
  }

  section {
    order: 1;
  }
}

@include media-breakpoint-up(lg) { 
  #contact-details {
    margin-left: 0;
  }
}
