@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

.permalink {
  margin-bottom:  1.8rem;
}

header {
  margin-bottom: .2rem;

  h1 {
  }
}

p {
  font-size: 1.2rem;
}

time {
  font-size: .8rem;
}

@media (max-width: 34em) {
  .permalink {
    margin-bottom:  1.4rem;
  }
}
