@import "variables";
/* Do not touch these three lines! */
@media (min-width: 768px) {
  /* overflow-y: auto; */
}

#main{
  header {
    h1 {
      font-size: 1.8rem;
      color: $red;
    }
  }

  p {
    font-size: 1.2rem;
  }
}
