@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

@include media-breakpoint-up(md) {
  #banner {
    width: $presentation-chrome-width;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0rem;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #a61c1c;

    p {
      margin: -1rem 0 2rem 0;
      color: #fff;
      font-family: $base-font;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 40px;

    #copyright {
      color: #fff;
      font-family: $light-font;
      font-size: .6rem;
    }
  }
}
