@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

/* Questions */
#intro, #questions{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/images/chameleon/harbour.jpg");
  background-color: #FF5900;
  justify-content: center;
  align-items: center;

  h1, p{
    color: #fff;
    font: $base-font;
    text-shadow:
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

  }

  p {
    color: #000;
    text-shadow:
      -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
    font: $bold-font;
    font-size: 2rem;
  }
}

#main #intro h1 {
  font-size: 8rem;
}
.triangle-obtuse {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  background: #ccc;
  opacity: 0.8;
  /* color: red; */
  font-size: 2rem;
  border: 3px solid #ccc;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates the narrower right-angled triangle */
.triangle-obtuse:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:80px; /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
  border:0;
  border-right-width:10px; /* vary this value to change the angle of the vertex */
  border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
  border-style:solid;
  border-color:transparent #ccc;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.slide table {
  color: #fff;
  font-size: 2.4rem;
}

#ia{
  background-color: green;
} 

#user-types{
  background-color: red;
  ol {
    font-size: 2rem;
    color: #fff;
  }
} 

#user-types-table, #IA-table {
  width: 95%;
  font-size: 1.3rem;
  margin-top: 1rem;

  tr {
    width: 12%;
  }
}

#usp {
  /* h2 {               */
  /*   font-size: 3rem; */
  /* }                  */

  ol {
    color: #fff;
    font-size: 3rem;
  }

}

#adult-user-flow, #child-user-flow, {
  h1 {
    color: $slide-colour;
  }

  background-color: #FFF;
  height: auto;
}

#child-user-flow {
  background-color: #FF823B;
  img {
    width: 60vh;
    height: 100vh;
  }
}


#sketches {
}

#sketch-carousel {
  position: relative;
  height: 743px;

  .carousel-indicators{
    li{
      border-color: green;
    }

    .active{
      background-color: green;
    }
  }

  .icon-prev, .icon-next{
    color: green;
  }

  #carousel-example-generic{
    /* position: absolute; */
    /* top: 135px;         */
    /* left: 31px;         */
    width: 90vw;
    height: 80vh;
    border: 1px solid black;

    .carousel-control.left, 
    .carousel-control.right {
      background-image: none;
    }
  }                         
}
#wireframes {         
  height: auto;

  img {
    height: 120vh;
    border: 3px solid black;
  }
}
/*   a {                        */
/*     width: auto !important;  */
/*     height: auto !important; */
/*   }                          */
/*   img {                      */
/*     width: auto;             */
/*     height: auto;            */
/*   }                          */
/* }                            */

#summary{
  li {
    font-size: 3rem;
    color: #fff;
  }
}

/* Questions */
#questions{
  position: relative;
  /* display: block; */
  background-image: url('/images/chameleon/lego_pirate.jpg');
  /* flex-direction: row;       */
  /* flex-wrap: wrap;           */
  /* justify-content: flex-end; */
  /* align-items: stretch;      */

  ul{            
    position: absolute;
    top: 0;
    right: 0;
  }              

} 

#main #questions h1 {
  font-size: 8rem;
}

#hamburger {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url('/images/chameleon/hamburger.png');
} 
