@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

/* Questions */
#slide1, #slide8{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/images/harbour.jpg");
  background-color: #FF5900;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 8rem;
    font: $base-font;
    text-shadow:
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

  }
}

/* Questions */
#slide8{
  background-image: url('/images/lego_pirate.jpg');
  justify-content: flex-end;
  align-items: stretch;
} 

#hamburger {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url('/images/hamburger.png');
} 

#slide2{
  background-color: red;
} 

#slide3{
  background-color: green;
} 
