@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

#p1{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/images/harbour.jpg");
  background-color: #FF5900;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 8rem;
    font: $base-font;
    text-shadow:
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

  }
}

#p2{
  background-color: red;
} 

#p3{
  background-color: green;
} 
