@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "toggle";
@import "footer";

$font-family-base: "Bitstream Vera";
/* @font-face {                                                            */
/*   font-family: "Bitstream Vera Serif Bold";                             */
/*   src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");     */
/* }                                                                       */

$progress_width: 8rem;
$progress_value_colour: #499273;
$progress_bar_colour: #ccc;
$active_progress_value_colour: #226764;
$active_progress_bar_colour: #888;

@mixin align-labels-right{
 .row{
   margin-bottom: .4rem;

   div:first-child{
     text-align: right;
   }
 }

}

.header{
  background-color: $gray-dark;
  height: 7rem;
  h1{
    padding: 2rem 2rem;
    color: #fff;
  }
}

#logout{
  margin: .5rem .5rem;
  float: right;
  color: #fff;
}

.heading{
  float:left;
  margin-top: .6rem;
  margin-right: 2rem;
  /* padding-top: 1rem; */
}

.nav{
  margin-left: 1rem;
  a{
    color: #fff;
  }
  
  .dropdown-menu a{
    color: #000;
  }
}

.warning{
  margin: 1rem auto;
  width: 40rem;
}

#login{
  margin-top: 2rem;
  min-width: 20rem;
  .form-control{
    margin-bottom: .7rem;
  }
}

#assessments-form{
  fieldset{
    margin-top: 1rem;
  }

  #search-btn{
    margin-left: 1rem;
    margin-right: 14rem;
  }
}

#assessments-table{
  margin-top: 1rem;

  /* Shrink cell width to content */
  table-layout: auto;
  .fix-width-md {
    width: 11rem;
  }
  .fix-width-sm {
    width: 37rem;
  }
  .absorbing-column {
    width: 100%;
  }

  #progress-breadcrumbs{
    .progress-container{
      height: 1.6rem;
      padding: 0 .2rem 0 0;

      .progress{
        height: 1.5rem;
      }

      a span{
        color: blue;
      }
    }
    span{
      top: -2.5rem;
    }
  }
}

.vcenter {
  line-height: 10rem;

  h3{
    display: inline-block;
    vertical-align: middle;
  }
}

.room{
  padding: 1rem 0;
  border: 1px solid #aaa;
}

.current-lighting{
  @include align-labels-right;
  margin-bottom: 1rem;
}

.proposed-lighting{
  .row{
    margin-bottom: .4rem;
  }
}

#checklist-table{
  tbody .top{
    border-top: 1px solid #ccc;
  }
}

#evidence-preview{
  border: 1px solid #ccc;
}

#checklist-table{
  .room-col{
    vertical-align: middle;
  }
}

#progress-breadcrumbs{
  /* Progress bar container's styling*/
  .progress-container{
    list-style-type: none;
    float: left;                  
    padding: .5rem .2rem 0 0;
    margin: 0 0;

    a{
      display: inline-block;
      height: 2.3rem;
    }

    a:hover{
      span{
        color: #fff;
      }

      .progress {
        border: 2px solid $link-hover-color;
      }
    }

    span{
      display: inline-block;
      width: 0;
      color: #333;
      position: relative;
      top: -2.8rem;
      left: 1rem;
    }

    .progress{
      /* mozilla progress bar colour */
      background-color: $progress_bar_colour;
      width: $progress_width;
      height: 2rem;
    }

    /* mozilla progress bar inner colour */
    progress::-moz-progress-bar { background: $progress_value_colour; }

    .progress[value]::-webkit-progress-value {
      background-color: $progress_value_colour;
    }

    .progress[value]::-webkit-progress-bar {
      background-color: $progress_value_colour;;
    }
  }

  /* Active breadcrumb anchor */
  .progress-container.active-crumb{
    span{
      color: #fff;
    }

    a{
      border-bottom: 3px solid black;
    }
  }
}

.flex-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.costing-col{
  float: none;
  display: table-cell;
  vertical-align: bottom;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;

}

#expenses{
  border: 1px solid #aaa;
  @include align-labels-right;
}

#profits{
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  @include align-labels-right;
}

#proposal-summary{
  border: 1px solid #aaa;
  @include align-labels-right;
}

#totals-row{
  margin-top: .5rem;
}

#cert-table{
  margin-top: 2rem;
  caption{
    caption-side: top;
  }
}

.mypopover{
  background-color: #CC5C00;
  color: #fff;
  border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem; 
  margin: .2rem;
}
