@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

html {
  // Required for sticky footer.
  position: relative;
  min-height: 100%;
}

body {
  // Bleeding edge css to render text before font face is loaded
  font-display: swap;
  background: #ffffff;
  font-family: $body-regular-font, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #222;
  overflow-x: hidden !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Margin bottom by footer height */
  margin-bottom: $footer-height !important;
}

a {
  color: $spring-blue;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &:focus, &:hover {
    outline: inherit;
    color: $spring-dark-blue;
  }
}

.hide {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul, ol {
  padding-left: 0 !important;
}

.row {
  padding: 30px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-regular-font, sans-serif;
  color: #000;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 1.8rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

#main {
  padding: 2rem 2rem;
  max-width: 100%;

  p {
    font-size: 1rem;
    max-width: 30em;
    color: #222;
  }

  a {
    // color: #111;
    text-decoration: underline;


    &:visited {
      color: #333;
    }

    &:focus, &:hover {
      color: $spring-red;
    }
  }
}

#nav {
  max-width: none;
  background-color: rgba(255,255,255,0.5);
  border-bottom: 2px solid $spring-red;
  
  nav {
    padding: 1rem 0 1rem 0;
  }

  #logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
    display: block;
    background: url('/images/shared/spring_logo_blue.svg') center left / 5rem no-repeat;
    width: 15rem;
    height: 6rem;
    margin-left: 1rem;
    padding: 2rem 0 0 6rem;

    &:hover {
      background-image: url('/images/shared/spring_logo_red.min.svg');
    }

    span {
      line-height: 1.9rem;
    }
  }

  #nav-link-wrapper {
    // Required for nested links to transform.
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;

    a {
      display: inline-block;
      margin: 0 1rem 0 1rem;
    }
  }

  #search {
    width: 8rem;
    border: 1px solid $spring-blue;
    border-radius: 0;
    color: #222;
    background-color: #eee;
    margin: 0.3rem;
    font-size: .9rem;

    &:focus {
      border: 1px solid $spring-red;
    }

  }

  a {
    font-size: 1.4rem;
    font-family: $display-regular-font;
    color: $spring-blue;

    &:focus, &:active, &:hover {
      color: $spring-red;
      text-decoration: none;
      transform: scale(1.1, 1.1);
    }
  }

}

#footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $spring-blue;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;

  #copyright {
    // background-image: url('/images/shared/spring_logo_red_25x25.png'), no-repeat;
    color: #fff;
    font-family: $display-regular-font;
    font-size: .6rem;
    padding-right: 2rem;
  }

  a {
    color: #fff;

    &:focus, &:active, &:hover {
      color: $spring-red;
      text-decoration: none;
      transform: scale(1.1, 1.1);
    }
  }
}
@media (max-width: 46em) {
  #nav {
    .row {
      padding: 0 0;
    }

    #logo {
      width: 13rem;
    }

    #logo span, h1 {
      font-size: 1.1rem;
    }


    #nav-link-wrapper a {
      font-size: 1.1rem;
      margin: 0 .3rem;
    }
  }
}

@media (max-width: 34em) {
  #main {
    padding: 1rem .5rem;

    p {
      font-size: .9rem;
      line-height: 1.3;
    }

  }

  #nav {
    #logo {
      background-size: 3rem;
      width: 4rem;
      height: 4rem;
      margin-left: 0;
      padding-left: 0;
      span {
        display: none;
      }
    }

    #nav-link-wrapper a {
      font-size: 1.1rem;
      margin: 0 .3rem;
    }
  }

  $footer-height: 3rem;

  body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height - 1 !important;
  }

  #footer {
    height: $footer-height;
  }
}
