@charset "utf-8";
@import "bootstrap-4.0.0-alpha.3/scss/bootstrap";
@import "variables";

#header {
  display: flex;
  justify-content: center;
  background: url(/images/shared/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;

  h1 {
    color: #fff;
    font-family: $display-regular-font;
    font-size: 30px;
    // font-weight: 800;
    letter-spacing: 1px;
  }
}

@media (min-width: 75em) {
  #header {
    padding: 90px 0;
  }
}

@media (max-width: 34em) {
  .row {
    padding: 0px 0;
  }

  #header {
    .row {
      padding: 30px 0;
    }

    h1 {
      font-size: 24px;
      line-height: 22px;
      margin: 1rem 0 2rem 0;
    }
  }
}

@media (max-width: 24em){
  #main {
    h1 {
      font-size: 2rem;
    }
  }

  #header {
    .row {
      padding: 0px 0;
    }

    h1 {
      margin: 0;
      font-size: 16px;
    }
  }
}
