@charset "utf-8";
@import "bootstrap-4.0.0-alpha.3/scss/bootstrap";
@import "variables";

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/shared/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  min-height: 4rem;

  h1 {
    color: #fff;
    font-family: $display-regular-font;
    font-size: 1.4rem;
    // font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem 1rem;
  }
}

// Small devices (landscape phones, 544px and up)
@include media-breakpoint-up(sm) {
  #header {
    min-height: 8rem;

    h1 {
      font-size: 1.8rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  #header {
    h1 {
      font-size: 2rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  #header {
    min-height: 14rem;
  }
}
