@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "footer";
$red: #85000D;
$sidebar-text: #fff;
/*
 * Main content
 */
body{
  background-color: #eee;
}

#logo{
  a:hover {
    text-decoration: none;
  }

  h1, p{
    color: $sidebar-text;
    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 6rem;
    font-size: 7vw;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

/* Styling that is irrelevant to screen size */
#main {
  header{
    h1 a{
      color: #111;

      &:hover {
        text-decoration: none;
      }
    }

    h2 {
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  #main {
    padding-right: 40px;
    margin-left: 220px;
    max-width: 40rem;

    figure{
      padding: 1rem 0 2rem 0;
    }

    header{
      h2 {
        padding: 2rem 2rem;
      }
    }
  }
}
