@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "footer";
$red: #85000D;
$sidebar-text: #fff;
/*
 * Main content
 */
body{
  background-color: #eee;
}

#logo{
  a:hover {
    text-decoration: none;
  }

  h1, p{
    color: $sidebar-text;
    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 6rem;
    font-size: 7vw;
  }
}

.main {
  padding: 20px;

  .page-header {
    margin-top: 0;
  }

  header{
    h1 a{
      color: #111;

      &:hover {
        text-decoration: none;
      }
    }

    h2 {
      padding: 2rem 2rem;
      color: #fff;
    }
  }
}


@media (min-width: 768px) {
  .main {
    max-width: 40rem;
    padding-right: 40px;
    padding-left: 40px;

    figure{
      padding: 1rem 0 2rem 0;
    }
  }

}
