@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body{
  background-color: #eee;

  h1, h2, h3, h4, h5, h6 {
    font-family: $light-font;
  }

  span, p, a {
    font-family: $base-font;
  }
}

.container-fluid {                             
  margin-top: 1rem;                            
}                                              

/* @include media-breakpoint-up(sm) {              */
/*   html {                                        */
/*     font-size: 20px;                            */
/*   }                                             */
/* }                                               */

/* @include media-breakpoint-up(md) {              */
/*   html {                                        */
/*     font-size: 20px;                            */
/*   }                                             */
/* }                                               */

/* @include media-breakpoint-up(lg) {              */
/*   html {                                        */
/*     font-size: 28px;                            */
/*   }                                             */
/* }                                               */

#main {
  @include media-breakpoint-up(md) {
    margin-left: 220px;             
    max-width: 38rem;               
  }                                 
}                                              
