@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

#main{
  header {
    h1 {
      margin-bottom: 0;
    }

    h1 a {
      color: $red;
    }
  }

  .permalink p {
    font-size: 1.1rem;
  }
}
