@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body{

  h1, h2, h3, h4, h5, h6 {
    font-family: $light-font;
  }

  span, p, a {
    font-family: $base-font;
  }
}

.container-fluid {                             
  padding: 0 0 !important;
}                                              

.page {
  height: 90vh;
  background-color: #ccc;
}

#splash{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* height: 80vh; */
  /* width: 100vw; */
  background-image: url('/images/spring_logo.svg');

}

#team {
  background-color: yellow;

  #research_role {
    border: 1px solid red;
    width: 178px;
    height: 178px;
    background-repeat: no-repeat;
    /* background-size: 30vw; */
    background-image: url('/images/mugshot.jpg');
  }
}
