@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body{

  h1, h2, h3, h4, h5, h6 {
    font-family: $light-font;
  }

  span, p, a {
    font-family: $base-font;
  }
}

.container-fluid {                             
  padding: 0 0 !important;
}                                              

section {
  height: -webkit-calc(100vh - 54px);
  height:    -moz-calc(100vh - 54px);
  height:         calc(100vh - 54px);
  background-color: #ccc;

  h2 {
    width: 100%;
  }
}

#splash{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/images/spring_logo.svg');

}

#toc, #team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 1rem 1rem 2rem 1rem;

  .flex-item {
  }
}

/* ***** TOC section ***** */
.portfolio-img {
  width: 178px;
  height: 178px;
  background-repeat: no-repeat;
}

#lindt0 {
  .portfolio-img {
    background-image: url('/images/persona_michelle.jpg');
  }
}

#lindt1 {
  .portfolio-img {
    background-image: url('/images/persona_michelle.jpg');
  }
}

#lindt {
  .portfolio-img {
    background-image: url('/images/persona_michelle.jpg');
  }
}

/* ***** Team section ***** */
#team {
  .mugshot {
    width: 178px;
    height: 178px;
    background-repeat: no-repeat;
  }

  #ceo_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }

  #research_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }

  #ux_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }

  #dev_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }
}
