@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body{

  h1, h2, h3, h4, h5, h6 {
    font-family: $light-font;
  }

  span, p, a {
    font-family: $base-font;
  }
}

.container-fluid {                             
  padding: 0 0 !important;
}                                              

#main {
  margin-left: $presentation-chrome-width;

  h1, h2, h3, h4, h5, h6 {
    color: $red;
  }

}                                              
.slide {
  display: flex;
  height: 100vh;
}
