@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body{

  h1, h2, h3, h4, h5, h6 {
    font-family: $light-font;
  }

  span, p, a {
    font-family: $base-font;
  }
}

.container-fluid {                             
  padding: 0 0 !important;
}                                              

#main {
  margin-left: $presentation-chrome-width;

  /* Stuff that should not be overridden */
  .slide {
    display: flex;

    h1, h2, h3, h4, h5, h6 {
      font-family: $bold-font;
      margin: 1rem 1rem;
    }

    h1 {
      font-size: 3rem;
    }

  }
}                                              

/* Stuff that may be overridden */
.slide {
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  background-color: $slide-colour;
  padding-left: 1rem;
  height: 100vh;
  flex-direction: column;
}
