@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body {
  background: #ffffff;
  font-family: $body-regular-font, sans-serif;
  font-size: 14px;
  color: #999;
  font-weight: 400;
  line-height: 25px;
  overflow-x: hidden !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #e74c3c;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &:focus, &:hover {
    outline: inherit;
    color: inherit;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul, ol {
  padding-left: 0 !important;
}

.row {
  padding: 60px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-semibold-font, sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.btn {
  &:focus, &:active, &:hover {
    outline: inherit;
    border-color: inherit;
  }

  outline: inherit;
  border-color: inherit;
}

.open .dropdown-toggle.btn {
  outline: inherit;
  border-color: inherit;
}

.btn {
  font-size: 16px;
  font-family: $body-semibold-font, sans-serif;
  padding: 15px 30px;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-common {
  color: #ffffff;
  font-weight: 400;
  background: $spring-red;

  &:hover {
    background: $spring-pale-red;
    color: #fff;
  }
}

.section-title {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 30px;
  position: relative;
  color: #454545;
}

.small-title {
  font-size: 30px;
  color: #666;
  font-weight: 800;
  padding-bottom: 22px;
  line-height: 40px;
}

i {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#home {
  background: url(/assets/img/backgrounds/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;

  .color-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  #logo {
    width: 4rem;
    height: 4rem;
  }

  .intro-section {
    margin-bottom: 155px;
    text-align: center;
    color: #ffffff;

    .intro {
      font-size: 50px;
      line-height: 76px;
      font-weight: 800;
      letter-spacing: 1px;
    }

    .sub-heading {
      font-size: 18px;
      line-height: 36px;
    }

    .btn-common {
      margin-top: 20px;
    }
  }
}

#about {
  background: $spring-red;
  color: #fff;

  .section-title {
    color: #fff;
  }
}

#main-features {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;

  img {
    width: 100%;
  }

  .feature-content {
    padding: 76px 42px;

    p {
      margin-bottom: 22px;
    }
  }

  .item-2 {
    background: #ecf0f1;
  }
}

.footer {
  background-color: $spring-blue;
  padding: 1rem 1rem;

  #copyright {
    // background-image: url('/images/spring_logo_red_25x25.png'), no-repeat;
    color: #fff;
    font-family: $display-regular-font;
    font-size: .6rem;
  }
}

