@media (min-width: 1200px) {
  #home .intro-section {
    padding: 60px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #portfolio-section .feature-content {
    padding: 0;
  }
}

@media (max-width: 568px) {
  .section-subtitle {
    font-size: 18px;
  }

  .row {
    padding: 40px 0;
  }

  .small-title {
    font-size: 22px;
  }

  #home {
    .row {
      padding: 30px 0;
    }

    .intro-section {
      margin: 0;

      h1 {
        font-size: 24px;
        line-height: 22px;
      }

      .sub-heading {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  #portfolio-section {
    .row {
      padding: 20px 0;
    }

    .feature-content {
      padding: 12px;
    }
  }
}

@media (max-width: 480px) {
  .section-subtitle {
    font-size: 16px;
  }

  .row {
    padding: 40px 0;
  }

  .small-title {
    font-size: 20px;
  }

  #nav #logo {
    width: 3rem;
    height: 3rem;
    margin: .5rem .5rem;
  }

  #home {

    .row {
      padding: 0px 0;
    }

    h1 {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
    }

    .sub-heading {
      font-size: 14px;
      line-height: 22px;
    }
  }

  #portfolio-section {
    .row {
      padding: 20px 0;
    }

    .feature-content {
      padding: 12px;
    }
  }
}
