@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body {
  // Bleeding edge css to render text before font face is loaded
  font-display: swap;
  background: #ffffff;
  font-family: $body-regular-font, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #222;
  overflow-x: hidden !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &:focus, &:hover {
    outline: inherit;
    color: inherit;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul, ol {
  padding-left: 0 !important;
}

.row {
  padding: 30px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-bold-font, sans-serif;
  color: #000;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

#main {
  .container {
    padding-top: 4rem;
  }

  p {
    color: #222;
  }

  p > a, li > a{
    color: #111;
    text-decoration: underline;

    &:focus, &:hover {
    }
  }
}

.btn {
  &:focus, &:active, &:hover {
    outline: inherit;
    border-color: inherit;
  }

  outline: inherit;
  border-color: inherit;
}

.open .dropdown-toggle.btn {
  outline: inherit;
  border-color: inherit;
}

.btn {
  font-size: 16px;
  font-family: $body-bold-font, sans-serif;
  padding: 15px 30px;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-common {
  color: #ffffff;
  font-weight: 400;
  background: $spring-red;

  &:hover {
    background: $spring-light-red;
    color: #fff;
  }
}

.small-title {
  font-size: 30px;
  color: #666;
  font-weight: 800;
  padding-bottom: 22px;
  line-height: 40px;
}

i {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#nav {
  max-width: none;
  background-color: rgba(255,255,255,0.5);
  border-bottom: 2px solid $spring-red;
  
  nav {
    padding: 0 1rem 0 0;
  }

  #logo-wrapper, #nav-link-wrapper {
    // Required for nested links to transform.
    display: flex;
    align-items: center;
  }

  #logo {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }

  #nav-link-wrapper {
    justify-content: flex-end;
    padding-right: 1rem;

    a {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  a {
    font-size: 1.4rem;
    font-family: $display-regular-font;
    color: $spring-blue;

    &:focus, &:active, &:hover {
      color: $spring-red;
      text-decoration: none;
      transform: scale(1.1, 1.1);
    }
  }

}

#footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2px;
  background-color: $spring-blue;
  /* Set the fixed height of the footer here */
  height: 6rem;

  #copyright {
    // background-image: url('/images/spring_logo_red_25x25.png'), no-repeat;
    color: #fff;
    font-family: $display-regular-font;
    font-size: .6rem;
    padding-right: 2rem;
  }
}
