@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

/* @media (min-width: 48em) { */
  /* section { */
    /* height: -webkit-calc(100vh - 54px); */
    /* height:    -moz-calc(100vh - 54px); */
    /* height:         calc(100vh - 54px); */
  /* } */
/* } */

#splash{
  height: -webkit-calc(100vh - 54px);
  height:    -moz-calc(100vh - 54px);
  height:         calc(100vh - 54px);
  background-size: cover;
  background-position: center center;
  background-image: url('/images/spring_logo.svg');
}

#toc, #team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    /* left aligns anchor */
    /* flex: 1; */
    display: block;
  }
}

/* ***** TOC section ***** */
.portfolio-img {
  width: 178px;
  height: 178px;
  border: 1px solid red;
  background-image: url('/images/mugshot.jpg');
}

#lindt0 {
}

#lindt1 {
}

#lindt {
}

/* ***** Team section ***** */
#team {
  .mugshot {
    width: 178px;
    height: 178px;
  }

  #ceo_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }

  #research_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }

  #ux_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }

  #dev_role .mugshot {
    background-image: url('/images/mugshot.jpg');
  }
}
