@charset "utf-8";
@import "bootstrap-4.0.0-alpha.3/scss/bootstrap";
@import "variables";

// KidsGive specific.
#kg-logo-wrapper {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

#brief {
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    margin-left: auto;
    margin-right: auto;
  }
}

#brief-list {
  margin-left: 1rem;

  li {
    line-height: 1.2rem;
    margin-bottom: .4rem;
    list-style-type: disc;
  }
}

#inreach-map {
  background-color: #FFF;
  padding-left: 1px;
}

// Small devices (landscape phones, 544px and up)
@include media-breakpoint-up(sm) {
  #brief-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    max-width: 28rem;
  }
}
