@charset "utf-8";
@import "bootstrap-4.0.0-alpha.3/scss/bootstrap";
@import "variables";

// KidsGive specific.
#kg-logo-wrapper {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

#brief-list {
  margin-left: .5rem;
  font-size: 1rem;

  li {
    line-height: 1.2rem;
    margin-bottom: .4rem;
    list-style-type: circle;
  }
}
