@charset "utf-8";
@import "bootstrap-4.0.0-alpha.3/scss/bootstrap";
@import "variables";

#main {
  background-color: #ecf0f1;

  h1, h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.text-flow-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 3em; // Chrome, Safari, Opera
  -moz-column-gap: 3em; // Firefox
  column-gap: 3em;

  p {
    // Not supported by Gecko.
    widows: 2;
    orphans: 2;
  }
}

.figures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figure{
  display: flex;
  justify-content: center;

  img {
    max-width: 90vw;
    display: block;
    margin: 0 .4rem;
  }
}

figcaption {
  font-size: .9rem;
  margin: 1.5rem 0 1rem 0;
}

// Lindt specific.
#research img {
  max-width: 600px;
}

#solution-map img {
  max-height: 70vh;
}

#outcomes {
  .text-flow-columns {
    display: flex;
    justify-content: center;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

// KidsGive specific.
#brief {
  h2 {
    text-align: right;
    margin: 0 2rem 0 0;
  }
}

#brief-list {
  font-size: 1.8rem;

  li {
    list-style-type: square;
  }
}

#case-study-link {
  display: flex;
  justify-content: flex-end;

  a {
    color: #222;
    display: inline-block;
    text-decoration: underline;

    &:focus, &:hover {
    }
  }
}

@media (min-width: 75em) {
  // .text-flow-columns {
  //   -webkit-column-count: 2;
  //   -moz-column-count: 2;
  //   column-count: 2;
  //   -webkit-column-gap: 3em; [> Chrome, Safari, Opera <]
  //   -moz-column-gap: 3em; [> Firefox <]
  //   column-gap: 3em;

  //   p {
  //     // Not supported by Gecko.
  //     widows: 2;
  //     orphans: 2;
  //   }
  // }
}

@media (max-width: 34em) {
  // .row {
  //   padding: 0px 0;
  // }

  // .small-title {
  //   font-size: 22px;
  // }
}

@media (max-width: 24em){
  // #main {
  //   h1 {
  //     font-size: 2rem;
  //   }

  //   h2 {
  //     margin-bottom: 1rem;
  //     font-size: 1.5rem;
  //   }

  //   ul {
  //     padding-left: 2rem !important;
  //   }
  // }

  // .row {
  //   padding: 20px 0;
  // }

  // .small-title {
  //   font-size: 20px;
  // }
}

// Small devices (landscape phones, 544px and up)
@include media-breakpoint-up(sm) {}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
