@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

#main {
  background-color: #ecf0f1;

  .container {
    padding-top: 4rem;
  }

  .container > section {
    padding: 4rem 1rem;
  }

  h1, h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

}

.project-stats span {
  display: inline-block;
  text-align: right;
  font-family: $body-bold-font;
  color: #000;
  padding-right: 1rem;
}

.figures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figure{
  display: flex;
  justify-content: center;

  img {
    max-width: 90vw;
    display: block;
    margin: 0 .4rem;
  }
}

figcaption {
  margin-bottom: 1rem;
}


// Lindt specific.
#research img {
  max-width: 600px;
}

#solution-map img {
  max-height: 70vh;
}

// KidsGive specific.
#brief {

  h2 {
    text-align: right;
    margin: 0 2rem 0 0;
  }
}

#brief-list {
  font-size: 1.8rem;

  li {
    list-style-type: square;
  }
}

#case-study-link {
  justify-content: flex-end;

  a {
    color: #222;
    display: inline-block;
    text-decoration: underline;

    &:focus, &:hover {
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  // #main section {
  //   max-height: 100vh;
  // }
}

@media (min-width: 768px) {
  #main .container {
    max-width: 90vw;
  }

  .text-flow-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em; /* Chrome, Safari, Opera */
    -moz-column-gap: 3em; /* Firefox */
    column-gap: 3em;

    p {
      // Not supported by Gecko.
      widows: 2;
      orphans: 2;
    }
  }
}
