@charset "utf-8";
@import "bootstrap-4/scss/bootstrap";
@import "variables";

body{
  h1, h2, h3, h4, h5, h6 {
    font-family: $light-font;
  }

  span, p, a {
    font-family: $base-font;
  }

  img {
    background-repeat: no-repeat;
  }
}

.container-fluid {                             
  padding: 0 0 !important;
}                                              

section:first-child {
  margin-top: 54px;
}

section {
  background-color: #ccc;
  padding: 1rem 1rem 2rem 1rem;

  h2 {
    width: 100%;
    margin-bottom: 1rem;
  }
}
