---
title: Dashboard wireframes
layout: intro
curr_page: 'dashboard'
---

h2 Assessments page
= image_tag 'wireframes/assessments.png'

h2 Pre-evidence page
= image_tag 'wireframes/checklist.png'

h2 Light proposal page
= image_tag 'wireframes/propose_light.png'

h2 Pricing page
= image_tag 'wireframes/propose_cost.png'
