---
title: Portfolio
layout: engage
curr_page: portfolio
---

section#portfolio-section.container
  .row
    .col-md-6.col-sm-12
      .feature-content.wow.fadeInRight data-wow-duration="0.80s"
        h1.small-title Crowd-funded Charity Site
        p Running a successful crowd-funded fund-raising campaign isn't easy, especially when you're a kid! Making the information for each of the stakeholders easy to find and digest was key.
        blockquote &ldquo;Mind blown&hellip; This is the dashboard we've been looking for!&rdquo;
        br
        cite Board Member
        br
        a.btn.btn-common href="/portfolio/kidsgive.html"  Find out more
    .col-md-6.hidden-sm-down
      a href="/portfolio/kidsgive.html"
        img.wow.fadeInLeft alt="" data-wow-duration="0.80s" src="/images/kidsgive/public_campaign_final_cropped.png"

  .row
    .col-md-6.col-sm-12
      .feature-content.wow.fadeInRight data-wow-duration="0.80s"
        h1.small-title Lindt Café
        p To increase customers to Lindt cafés, we took a customer experience approach and used smart phone technology to reduce friction in ordering, payment and loyalty point processes with a familiar and minimal interface.
        a.btn.btn-common href="/portfolio/lindt.html"  Find out more
    .col-md-6.hidden-sm-down
      a href="/portfolio/lindt.html"
        img.wow.fadeInLeft alt="" data-wow-duration="0.80s" src="/images/lindt/solution_map.svg"
